$main-color: #0085FF;
$main-bg-color: #E7F6FE;
$secondary-bg-color: #F3FBFF;
$complete-status-color: #FC9700;
$incomplete-status-color: #03BC90;

$main-font-size: 18px;
$main-line-height: 21px;

$btn-border-radius: 8px; 
