@import "../../styles/variables.scss";

.usersTable {
  margin: 213px 160px;
  table {
      width: 1120px;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: $main-font-size;
}

thead {
      height: 77px;
      color: white;
      font-weight: normal;
      tr {
          background-color: $main-color;
          th{
              text-align: start;

          }
        }
    }
    tbody{
      tr{
          
          height: 58px;
      }
  }
}
