@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.usersTable {
  margin: 213px 160px;
  .usersTable_header {
    @include center;
    background-color: $main-color;
    color: white;
    font-size: $main-font-size;
    font-weight: normal;
    height: 77px;
    border-radius: 24px 24px 0px 0px;
  }
  .usersTable_row {
    @include center;
    height: 58px;
    cursor: pointer;
    &:nth-child(even) {
      background-color: $secondary-bg-color;
    }
  }
}

.tableItem {
  display: inline-block;
  width: 50%;
  padding: 16px;
}

.activeRow {
  font-weight: 700;
  color: $main-color;
  background-color: $main-bg-color;
}

.usersTable-small{
  width: 600px;
}